feedparser
tweepy
mysql-connector-python
google-api-python-client
python-dotenv
schedule
requests
requests-oauthlib
Pillow
beautifulsoup4
selenium
webdriver-manager
SQLAlchemy
pandas
numpy
matplotlib
discord.py
imagehash
newsapi-python
python-twitter
pytz
retrying
py-twitcasting